@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoCondensed";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoLight/Roboto-Light.ttf") format("truetype");
}
